{% extends "TriviaQuestApp/base.html" %}

{% load static %}

{% block content %}
<br><br><br><br><br>

<form action="{% url 'creacion_quiz' %}" method="post" role="form">
    {% csrf_token %}

    <div class="quiz-election body-quiz-election">
        <div class="container-quiz-election margin-create-quiz">
            <h1 class="heading">Creacion de Quiz</h1>
            <div class="settings">

                <label class="label-quiz-election">Escribe la pregunta:</label>
                    <input class="margin-question-quiz" type="text" name="pregunta" maxlength="100" required>

                    {% for message in messages %} {% if 'quiz_exist' in message.tags %}
                        <p class="error-category">{{message}}</p>
                    {% endif %} {% endfor %}

                <label class="label-quiz-election">Escribe la categoria:</label>
                    <input class="margin-question-quiz" type="text" name="categoria" maxlength="30" required>

                <label class="label-quiz-election">Escribe la primera opcion:</label>
                    <input class="margin-question-quiz" type="text" name="primera_opcion" maxlength="90" required>

                <label class="label-quiz-election">Escribe la segunda opcion:</label>
                    <input class="margin-question-quiz" type="text" name="segunda_opcion" maxlength="90" required>

                <label class="label-quiz-election">Escribe la tercera opcion:</label>
                    <input class="margin-question-quiz" type="text" name="tercera_opcion" maxlength="90" required>

                <label class="label-quiz-election">Escribe la cuarta opcion:</label>
                    <input class="margin-question-quiz" type="text" name="cuarta_opcion" maxlength="90" required>

                <label class="label-quiz-election" for="time">Selecciona la opcion correcta:</label>
                <select class="select-quiz-election margin-category-quiz" name="opcion_correcta" required>
                    <option value="A">Primera opcion A</option>
                    <option value="B">Segunda opcion B</option>
                    <option value="C">Tercera opcion C</option>
                    <option value="D">Cuarta opcion D</option>
                </select>

            </div>
            {% if user.is_authenticated %}
                <button class="btn-quiz-election start" type="submit">Crear Quiz</button>
            {% else %}
                <a href="{% url 'inicio_sesion' %}" class="redirect-link-login">Crear Quiz</a><br><br>
            {% endif %}
        </div>
    </div>

</form>

{% endblock %}