{% extends "TriviaQuestApp/base.html" %}

{% load static %}

{% block content %}
<br><br><br><br><br>

<div class="bg-box">
    <img src="{% static 'assets/img/fondo_inicio.jpg' %}" alt="">
</div>

<form action="{% url 'creacion_quiz' %}" method="post" role="form" class="form-create-quiz">
    {% csrf_token %}

    <div class="create-question">
        <input type="text" name="pregunta" class="input-question-create-quiz" size="40" maxlength="100" placeholder="Escribe tu pregunta {{categoria_fk}}" required>
    </div>

    <div class="category-create-quiz">
        <input type="text" name="categoria" class="input-category-create-quiz" maxlength="30" placeholder="Escribe la categoria" required>
    </div>

    <div class="display-options">
        <div class="options">
            <div class="option">
                <div class="letter">A</div>
                <div class="input-option">
                    <input type="text" name="primera_opcion" class="input-option-create-quiz" maxlength="90" placeholder="Primera Respuesta" required>
                </div>
            </div>
            <div class="option">
                <div class="letter">B</div>
                <div class="input-option">
                    <input type="text" name="segunda_opcion" class="input-option-create-quiz" maxlength="90" placeholder="Segunda Respuesta" required>
                </div>
            </div>
            <div class="option">
                <div class="letter">C</div>
                <div class="input-option">
                    <input type="text" name="tercera_opcion" class="input-option-create-quiz" maxlength="90" placeholder="Tercera Respuesta" required>
                </div>
            </div>
            <div class="option">
                <div class="letter">D</div>
                <div class="input-option">
                    <input type="text" name="cuarta_opcion" class="input-option-create-quiz" maxlength="90" placeholder="Cuarta Respuesta" required>
                </div>
            </div>
            <div class="option">
                <div class="letter">✔</div>
                <div class="input-option-correct">
                    <div class="option-correct-create-quiz">
                        Respuesta Correcta
                        <label>
                            <input type="radio" name="opcion_correcta" value="A" required> A
                        </label>
                        <label>
                            <input type="radio" name="opcion_correcta" value="B" required> B
                        </label>
                        <label>
                            <input type="radio" name="opcion_correcta" value="C" required> C
                        </label>
                        <label>
                            <input type="radio" name="opcion_correcta" value="D" required> D
                        </label>
                        <button type="submit" class="btn button-create-quiz">Crear pregunta</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>

{% endblock %}