{% extends "TriviaQuestApp/base.html" %}

{% load static %}

{% block content %}

<form action="{% url 'eleccion_quizes' %}" method="post" role="form">
    {% csrf_token %}

    <div class="quiz-election body-quiz-election">
        <div class="container-quiz-election">
            <h1 class="heading">Trivia Quest</h1>
            <div class="settings">
                <label class="label-quiz-election" for="num-questions">Numero de preguntas:</label>
                <select class="select-quiz-election" id="num-questions" name="num_preguntas" required>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>

                {% for message in messages %} {% if 'not_sufficient_quizzes' in message.tags %}
                    <p class="error-category">{{message}}</p>
                {% endif %} {% endfor %}

                <label class="label-quiz-election" for="category">Selecciona categoria:</label>
                <select class="select-quiz-election" id="category" name="categoria" required>
                    {% for categoria in categorias %}
                        <option value="{{categoria.nombre}}">{{categoria.nombre}}</option>
                    {% endfor %}
                </select>

                {% for message in messages %} {% if 'not_quizes_category' in message.tags %}
                    <p class="error-category">{{message}}</p>
                {% endif %} {% endfor %}

                <label class="label-quiz-election" for="time">Selecciona tiempo por quiz:</label>
                <select class="select-quiz-election" id="time" name="tiempo" required>
                    <option value="10">10 segundos</option>
                    <option value="15">15 segundos</option>
                    <option value="20">20 segundos</option>
                    <option value="25">25 segundos</option>
                    <option value="30">30 segundos</option>
                    <option value="60">60 segundos</option>
                </select>
            </div>
            <button class="btn-quiz-election start" type="submit">Comenzar Quiz</button>
        </div>
    </div>

</form>

{% endblock %}