{% extends "TriviaQuestApp/base.html" %}

{% load static %}

{% block content %}

<form action="{% url 'comprobar_respuesta' quiz.pregunta respuestas_correctas pregunta_actual num_preguntas categoria tiempo %}" method="post" role="form">
  {% csrf_token %}

  <div class="quiz-election body-quiz-election">
    <div class="container-quiz-election">
      <div class="timer">
        <div class="progress">
          <div class="progress-bar" id="time" data-valor={{tiempo}}></div>
          <span class="progress-text"></span>
        </div>
      </div>
      <div class="question-wrapper">
        <div class="number">
          Question <span class="current">{{pregunta_actual}}</span>
          <span class="total">/{{num_preguntas}}</span>
        </div>
        <div class="question">{{quiz.pregunta}}</div>
      </div>
      <div class="answer-wrapper">
        <div class="answer selected">
          <span class="text">{{quiz.primera_opcion}}</span>
          <span class="checkbox">
            <i class="fas fa-check"></i>
            <input type="radio" name="opcion_escogida" value="{{quiz.primera_opcion}}" required>
          </span>
        </div>
        <div class="answer selected">
          <span class="text">{{quiz.segunda_opcion}}</span>
          <span class="checkbox">
            <i class="fas fa-check"></i>
            <input type="radio" name="opcion_escogida" value="{{quiz.segunda_opcion}}" required>
          </span>
        </div>
        <div class="answer selected">
          <span class="text">{{quiz.tercera_opcion}}</span>
          <span class="checkbox">
            <i class="fas fa-check"></i>
            <input type="radio" name="opcion_escogida" value="{{quiz.tercera_opcion}}" required>
          </span>
        </div>
        <div class="answer selected">
          <span class="text">{{quiz.cuarta_opcion}}</span>
          <span class="checkbox">
            <i class="fas fa-check"></i>
            <input type="radio" name="opcion_escogida" value="{{quiz.cuarta_opcion}}" required>
          </span>
        </div>
        <button class="btn-quiz-election submit" type="submit">Submit</button>
      </div>
    </div>
  </div>

</form>

{% endblock %}