{% extends "TriviaQuestApp/base.html" %}

{% load static %}

{% block content %}

<form id="form-quiz" action="{% url 'comprobar_respuesta' quiz.pregunta respuestas_correctas pregunta_actual num_preguntas categoria tiempo %}" method="post" role="form">
  {% csrf_token %}

  <div class="quiz-election body-quiz-election">
    <div class="container-quiz-election margin-container-quiz">
      <div class="timer">
        <div class="progress">
          <div class="progress-bar" id="time" data-valor={{tiempo}}></div>
          <span class="progress-text"></span>
        </div>
      </div>
      <div class="question-wrapper">
        <div class="number">
          Pregunta <span class="current">{{pregunta_actual}}</span>
          <span class="total">/{{num_preguntas}}</span>
        </div>
        <div class="question">{{quiz.pregunta}}</div>
      </div>
      <div class="answer-wrapper">
        <input type="radio" name="opcion_escogida" value="sin_tiempo" required style="display: none;">
        {% for opcion in opciones %}
          <button class="answer selected">
            <span class="text">{{opcion}}</span>
            <input type="radio" class="input-game-quiz" name="opcion_escogida" value="{{opcion}}" required>
          </button>
        {% endfor %}
        <button class="btn-quiz-election" type="submit">Enviar</button>
      </div>
    </div>
  </div>

</form>

{% endblock %}