body {
  font-family: suez one,serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.heading_container h2 span {
  color: #ffbe33;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-box img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.margin-detail-box {
  margin-top: 140px;
}

.sub_page .hero_area {
  min-height: auto;
}

.sub_page .hero_area .bg-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sub_page .hero_area .bg-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
}

.header_section {
  padding: 15px 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.header_section .container {
  position: relative;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 32px;
  color: #0c0c0c;;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  padding-left: 18%;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  font-size: 15px;
  color: #0c0c0c;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item .nav-link.active {
  color: red;
}

.custom_nav-container .nav_search-btn {
  width: auto;
  height: auto;
  padding: 0;
  border: none;
  color: #ffffff;
  margin: 0 10px;
}

.user_option .order_online {
  display: inline-block;
  padding: 8px 30px;
  background-color: red;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 45px 0 75px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #0c0c0c;
  margin-bottom: 145px;
}

.slider_section .detail-box h1 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.slider_section .detail-box p {
  font-size: 16px;
  max-width: 400px;
  text-align: justify;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: rgb(255, 0, 0);
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 10px;
}

.slider_section .detail-box a:hover {
  background-color: #B31312;
}

.food_section .filters_menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 45px 0 20px 0;
}

.food_section .filters_menu li {
  padding: 7px 25px;
  cursor: pointer;
  border-radius: 25px;
}

.food_section .filters_menu li.active {
  background-color: #222831;
  color: #ffffff;
}

.food_section .box {
  position: relative;
  margin-top: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(to bottom, #f1f2f3 25px, #222831 25px);
}

.food_section .box .img-box {
  background: #f1f2f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
  border-radius: 0 0 0 45px;
  margin: -1px;
  padding: 25px;
}

.food_section .box .img-box img {
  max-width: 100%;
  max-height: 145px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.food_section .box .detail-box {
  padding: 25px;
}

.food_section .box .detail-box h5 {
  font-weight: 600;
}

.food_section .box .detail-box p {
  font-size: 15px;
}

.food_section .box .detail-box h6 {
  margin-top: 10px;
}

.food_section .box .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.food_section .box .options a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food_section .box .options a svg {
  width: 18px;
  height: auto;
  fill: #ffffff;
}

.food_section .box:hover .img-box img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.food_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.food_section .btn-box a {
  display: inline-block;
  padding: 10px 55px;
  background-color: red;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.food_section .btn-box a:hover {
  background-color: red;
}

.about_section {
  background: #222831;
  color: #ffffff;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_section .img-box img {
  width: 100%;
  max-width: 445px;
  position: relative;
  z-index: 2;
}

.about_section .detail-box p {
  margin-top: 15px;
  text-align: justify;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: #e69c00;
}

.card-quiz-category {
  background-color: rgb(219, 216, 216);
  font-size: 30px;
  color: black;
}

.card-quiz-question{
  text-align: center;
  font-size: 20px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/*--------------------------------------------------------------
# Quiz
--------------------------------------------------------------*/

.category-create-quiz{
  display: block;
  text-align: center;
  font-size: 30px;
  position: relative;
  z-index: 2;
  margin: 60px 0;
}

.display-options {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  z-index: 1;
}

.options{
  max-width: 400px;
  margin: auto;
}

.option{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 30px auto;
  cursor: pointer;
  left: 15px;
}

.option .letter{
  background-color: #580078;
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 35px;
  border: 5px solid #fff;
  position: relative;
  right: 295px;
  z-index: 2;
}

.option .input-option{
  background: #fff;
  width: 150%;
  font-size: 24px;
  position: absolute;
  z-index: 1;
  border-radius: 60px;
  height: 50px;
  margin-right: 40px;
}

.create-question {
  width: fit-content;
  background-color: #fff;
  margin: -20px auto;
  border-radius: 60px;
  box-shadow: 5px 5px 0 #000;
  padding: 20px 30px;
  position: relative;
  z-index: 3;
  left: 20px;
}

.margin-question-quiz {
  margin-bottom: 20px;
  width: 340px !important;
  border-radius: 4px;
  border: none;
  height: 34px;
  outline: none;
  padding-left: 14px;
  font-size: 13px;
}

.margin-category-quiz {
  margin-bottom: 35px !important;
}

.margin-create-quiz {
  margin-top: -15px !important;
}

.redirect-link-login,
.redirect-link-login:hover {
  padding: 20px 126px;
  background: #0c80ef;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s linear;
}

.input-question-create-quiz {
  height: 40px;
  font-size: 20px;
  text-align: center;
  border: none;
  outline: none;
  padding: 7px 0px 0px 0px;
}

.input-question-create-quiz::placeholder {
  text-align: center;
  font-size: 30px;
  color: #222831;
}

.input-category-create-quiz {
  width: 530px;
  height: 75px;
  margin-left: 40px;
  font-size: 30px;
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  margin-bottom: -25px;
  margin-top: 20px;
}

.input-category-create-quiz::placeholder {
  text-align: center;
  font-size: 30px;
  color: #222831;
}

.input-option-create-quiz {
  width: 100%;
  height: 50px;
  margin-left: 30px;
  border-radius: 25px;
  text-align: center;
  border: none;
  outline: none;
  padding: 0px 10px;
}

.input-option-create-quiz::placeholder {
  text-align: center;
}

.input-option-correct {
  background: #fff;
  width: 155%;
  font-size: 21px;
  position: absolute;
  z-index: 1;
  border-radius: 60px;
  height: 50px;
  margin-right: -1px;
}

.option-correct-create-quiz {
  margin-top: 9px;
  margin-left: 40px;
}

.btn{
  border: none;
  background: #580078;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: .5s;
}
.btn:hover{
  transform: scale(1.1);
}

.button-create-quiz {
  margin-left: 15px;
}

/*--------------------------------------------------------------
# Authentication
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.auth{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url('')no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
}

.form-box{
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid black;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box-register{
  position: relative;
  width: 400px;
  height: 550px;
  background: transparent;
  border: 2px solid black;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.auth h2 {
  font-size: 2em;
  color: black;
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
}

.inputbox{
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid black
}

.inputbox .error-register {
  position: absolute;
  top: 100%;
  left: 5px;
  transform: translateY(-10px);
  color: #dc3545;
  font-size: 0.9em;
}

.inputbox label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: black;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding:0 35px 0 5px;
  color: black;
}

.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color: black;
  font-size: 1.2em;
  top: 20px;
}

.auth-button{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: black;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
}

.register{
  font-size: .9em;
  color: black;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.register p a:hover{
  text-decoration: underline;
}

.error-login {
  font-size: 14px;
  color: red;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.error-register {
  font-size: 14px;
  color: red;
  display: block;
  margin-top: 10px;
  text-align: center;
}

/*--------------------------------------------------------------
# Quiz election
--------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.quiz-election {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body-quiz-election {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.container-quiz-election {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: #1f2847;
  padding: 30px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.margin-container-quiz {
  margin-top: 90px;
}

.heading {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-bottom: 50px;
  font-weight: bold;
}

.label-quiz-election {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  color: #fff;
}

.select-quiz-election {
  width: 100%;
  padding: 10px;
  border: none;
  text-transform: capitalize;
  border-radius: 5px;
  margin-bottom: 20px;
  background: #fff;
  color: #1f2847;
  font-size: 14px;
}

.start-screen .btn {
  margin-top: 50px;
}

.timer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.timer .progress {
  position: relative;
  width: 100%;
  height: 40px;
  background: transparent;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 10px;
  border: 3px solid #3f4868;
}

.timer .progress .progress-bar {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  background: linear-gradient(to right, #ea517c, #b478f1);
  transition: 1s linear;
}

.timer .progress .progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.question-wrapper .number {
  color: #a2aace;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.question-wrapper .number .total {
  color: #576081;
  font-size: 18px;
}

.question-wrapper .question {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}




.answer-wrapper .answer {
  width: 100%;
  height: 60px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  border: 3px solid #3f4868;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s linear;
  background: transparent;
}

.answer-wrapper .answer:active,
.answer-wrapper .answer:focus {
  background-color: transparent;
  color: white;
  border-color: #0084ff;
  outline: none;
}

.input-game-quiz {
  opacity: 0;
  position: absolute !important;
}

.answer .checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #3f4868;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.answer .checkbox i {
  color: #fff;
  font-size: 10px;
  opacity: 0;
  transition: all 0.3s;
}

.answer.selected .checkbox i {
  opacity: 1;
}

.answer.correct {
  border-color: #0cef2a;
}

.answer.wrong {
  border-color: #fc3939;
}

.question-wrapper,
.answer-wrapper {
  margin-bottom: 50px;
}

.btn-quiz-election {
  width: 100%;
  height: 60px;
  background: #0c80ef;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s linear;
}

.btn-quiz-election:hover {
  background: #0a6bc5;
}

.btn-quiz-election:disabled {
  background: #576081;
  cursor: not-allowed;
}

.btn-quiz-election.next {
  display: none;
}

.end-screen .score {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 80px;
  text-align: center;
}

.score .score-text {
  color: #a2aace;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 120px;
}

.total-score {
  font-size: 30px;
}

.error-category {
  font-size: 13.6px;
  color: red;
  margin: 0px;
  margin-top: -15px;
  margin-bottom: 10px;
}

/*--------------------------------------------------------------
# Navigation Mobile
--------------------------------------------------------------*/

@media (max-width: 768px) {

  .custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #000000;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;
  }

  .custom_nav-container .navbar-toggler span::before,
  .custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .custom_nav-container .navbar-toggler span::after {
    top: 10px;
  }

  .collapse.navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(205, 247, 248);
    z-index: 1000;
    overflow-y: auto;
    padding-top: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .collapse.navbar-collapse ul.navbar-nav {
    display: block;
    text-align: center;
    padding-left: 15px;
  }

  .user_option .order_online {
    padding: 10px 38px;
    display: flex;
    align-items: center;
    margin-left: -7px;
  }

  .play-link-one {
    display: block;
  }

  .play-link-two {
    display: none;
  }

  .navbar {
    padding: 0rem 0rem !important;
  }

  .slider_section .detail-box h1 {
    font-size: 2.5rem;
  }

  .margin-detail-box {
    margin-top: 80px;
  }

  .slider_section .detail-box p {
    font-size: 14px;
    max-width: 264px;
    text-align: justify;
    margin-left: 5px;
  }

  .responsive-paragraph-one {
    display: none;
  }

  .responsive-paragraph-two {
    display: block;
  }

  .slider_section .detail-box a {
    margin-left: 5px;
  }

  .responsive-title-one {
    display: none;
  }

  .responsive-title-two {
    display: block;
  }

  .about_section .img-box img {
    width: 20%;
  }

  .about_section .img-box img {
    display: none;
  }

  .about_section .detail-box p {
    font-size: 13px;
  }

  .heading_container h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0;
    margin-top: 10px;
  }

  .img-responsive-one {
    display: none;
  }

  .margin-responsive-categorys {
    margin-top: 185px;
  }

}

@media (min-width: 769px) {

  .play-link-one {
    display: none;
  }

  .play-link-two {
    display: block;
  }

  .responsive-paragraph-one {
    display: block;
  }

  .responsive-paragraph-two {
    display: none;
  }

  .responsive-title-one {
    display: block;
  }

  .responsive-title-two {
    display: none;
  }

  .img-responsive-one {
    display: block;
  }

  .img-responsive-two {
    display: none;
  }

}

.navbar {
  padding: 0rem 0rem !important;
}