{% extends "TriviaQuestApp/base.html" %}

{% load static %}

{% block content %}

<section class="auth">
  <div class="form-box-register">
    <div class="form-value">
      <form action="{% url 'registro' %}" method="post">
        {% csrf_token %}

        <h2>Registrarse</h2>

        <div class="inputbox">
          <ion-icon name="person-outline"></ion-icon>
          <input type="text" name="username" required>
          <label>Nombre de usuario</label>

          {% for message in messages %} {% if 'username_characters_error' in message.tags %}
            <span class="error-register">{{message}}</span>
          {% endif %} {% endfor %}

          {% for message in messages %} {% if 'username_exist_error' in message.tags %}
            <span class="error-register">{{message}}</span>
          {% endif %} {% endfor %}

        </div>

        <div class="inputbox">
          <ion-icon name="mail-outline"></ion-icon>
          <input type="email" name="email" required>
          <label>Correo</label>
        </div>

        <div class="inputbox">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input type="password" name="password" required>
          <label>Contraseña</label>

          {% for message in messages %} {% if 'characters_error' in message.tags %}
            <span class="error-register">{{message}}</span>
          {% endif %} {% endfor %}

        </div>

        <div class="inputbox">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input type="password" name="password_confirm" required>
          <label>Confirmar Contraseña</label>

          {% for message in messages %} {% if 'equals_error' in message.tags %}
            <span class="error-register" style="font-size: 12px;">{{message}}</span>
          {% endif %} {% endfor %}

        </div>

        <button class="auth-button" type="submit">Crear Cuenta</button>

        <div class="register">
          <p>Ya tengo una cuenta <a href="{% url 'inicio_sesion' %}">Iniciar Sesion</a></p>
        </div>

      </form>
    </div>
  </div>
</section>

{% endblock %}