{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="#" type="">

  <title> Trivia Quest </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.css' %}" />
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />

</head>

<body>

<header class="header_section">
  <div class="container">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
      <a class="navbar-brand" href="{% url 'inicio' %}">
        <span>Trivia Quest</span>
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav  mx-auto ">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %} active {% endif %}" href="{% url 'inicio' %}">
              Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/quiz/creacion_quiz/' %} active {% endif %}" href="{% url 'creacion_quiz' %}">
              Crear Quiz
            </a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/autenticacion/cerrar_sesion/' %} active {% endif %}" href="{% url 'cerrar_sesion' %}">
                Cerrar Sesion
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/autenticacion/inicio_sesion/' %} active {% endif %}" href="{% url 'inicio_sesion' %}">
                Iniciar sesion
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/autenticacion/' %} active {% endif %}" href="{% url 'registro' %}">
                Registrarse
              </a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == '#' %} active {% endif %}" href="#">
              Ejemplo
            </a>
          </li>
        </ul>

        <div class="user_option">
          <a href="" class="user_link">
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
          <form class="form-inline">
            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
          <a href="" class="order_online">Explorar</a>
        </div>

      </div>

    </nav>
  </div>

  {% block header %}


  {% endblock %}

</header>

  {% block content %}


  {% endblock %}

</body>

<script src="{% static 'assets/js/main.js' %}"></script>

</html>