{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="#" type="">

  <title> Trivia Quest </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.css' %}" />
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

<header class="header_section">
  <div class="container">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <a class="navbar-brand" href="{% url 'inicio' %}">
        <span>Trivia Quest</span>
      </a>

      <div class="user_option play-link-one">
        <a href="{% url 'eleccion_quizes' %}" class="order_online">Jugar</a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav  mx-auto ">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %} active {% endif %}" href="{% url 'inicio' %}">
              Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/quiz/creacion_quiz/' %} active {% endif %}" href="{% url 'creacion_quiz' %}">
              Crear Quiz
            </a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/autenticacion/cerrar_sesion/' %} active {% endif %}" href="{% url 'cerrar_sesion' %}">
                Cerrar Sesion
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/autenticacion/inicio_sesion/' %} active {% endif %}" href="{% url 'inicio_sesion' %}">
                Iniciar sesion
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/autenticacion/' %} active {% endif %}" href="{% url 'registro' %}">
                Registrarse
              </a>
            </li>
          {% endif %}
        </ul>

        <div class="user_option play-link-two">
          <a href="{% url 'eleccion_quizes' %}" class="order_online">Jugar</a>
        </div>

      </div>

    </nav>
  </div>

  {% block header %}


  {% endblock %}

</header>

  {% block content %}


  {% endblock %}

</body>

<script src="{% static 'assets/js/main.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>